<style>
    table,
    td {
        border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    .table thead th,
    .table tbody td {
        text-align: center;
    }
    .txt--center {
        text-align: center;
    }
    .w-100 {
        width: 100%;
    }
    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
</style>



<div class="container">
    <h1 class="txt--center"> {{ dataChart.title }}</h1>
    <br>
    <canvas id='myChart' width='800' height='450'></canvas>

    <br>
    <p> <strong>MaxValue: </strong> {{ dataChart.maxValue}} </p>
    <p> <strong>MaxValue: </strong> {{ dataChart.minValue}} </p>
</div>

<br>

<table class="table w-100">
    <thead>
        <tr>
            <th colspan="1">Data 1</th>
            <th colspan="1">Data 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>110</td>
            <td>230</td>
        </tr>
        <tr>
            <td>54</td>
            <td>203</td>
        </tr>
        <tr>
            <td>154</td>
            <td>220</td>
        </tr>
        <tr>
            <td>542</td>
            <td>120</td>
        </tr>
        <tr>
            <td>534</td>
            <td>420</td>
        </tr>
        <tr>
            <td>454</td>
            <td>210</td>
        </tr>
    </tbody>
</table>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script>
    const d =  document;
    const ctx = d.getElementById("myChart").getContext("2d");

    /** Datos necesarios */
    const dataX = [12, 14, 16, 18];
    const dataY = [10, 9, 15, 5];
    const minY = 4;
    const maxY = 40;
    const stepY = 10;
    const titleGraphic = 'Title Graphics';
    const titleLegend = 'Texto de la leyenda';
    const bgColor = 'rgba(66, 134, 244, 1)';
    const borderColor = 'rgba(4, 10, 50, 1)';
    const borderWidth = 4;

    const myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: dataX,
            datasets: [{
                label: titleLegend,
                data: dataY,
                backgroundColor: bgColor,
                borderColor: borderColor,
                borderWidth: borderWidth,
            }]
        },
        options: {
            title: {
                display: true,
                text: titleGraphic,
                fontSize: 20
            },
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: 'red',
                    fontSize: 14,
                    fontStyle: 700
                }
            },
            /* Grafica que empieza desde y=0 */
            scales: {
                yAxes:[{
                    ticks: {
                        // beginAtZero: true,
                        suggestedMin: minY,
                        suggestedMax: maxY,
                        stepSize: stepY,
                        callback: function(value, index, values) {
                            return  value + ' Q';
                        }
                    }
                }],
                xAxes:[{
                    ticks: {
                        callback: function(value, index, values) {
                            return  value + ' min';
                        }
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0,
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            /* Animation */
            animation: {
                duration: false,
            },
            hover: {
                animationDuration: 0,
            },
            responsiveAnimationDuration: 0,
        }
    })
</script>